version: "3.3"

services:
  backend:
    build:
      context: ./backend
      dockerfile: dockerfiles/dev/Dockerfile
    volumes:
      - ./backend:/home/backend
    ports:
      - "5000:5000"

# frontend:
#   build:
#     context: ./frontend
#     dockerfile: dockerfiles/dev/Dockerfile
#   volumes:
#     - ./frontend:/home/frontend
#   tty: true

  db:
    image: postgres:12
    ports:
      - "5432:5432"
    volumes:
      - db_data_dev:/var/lib/postgresql/data

  adminer:
    image: adminer
    networks:
      - backend
    ports:
      - "8080:8080"
    restart: always

volumes:
  db_data_dev:
